:root{
    --color-dark: #0D0D0D;
    --color-light: #FFFFFF;
    --color-gray: #191919;
    --color-black: #000000;

    --border-radius: 40px;
    --border-radius-small: 16px;

    --font-family-base: 'Inter', sans serif;

    --container-width: 1170px;
    --container-padding-x: 20px;

    --section-padding-y: 75px;

    --input-height: 68px;
    --button-height: 68px;

    --transition-duration: 0.2s;

}